.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper header {
    width: 100%;
    height: 12vw;
    background-color: #0097ff;

    color: #fff;
    font-size: 4.8vw;
    /* 将header固定防止滚动 */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}

.wrapper h3 {
    box-sizing: border-box;
    border-bottom: solid 1px #ddd;

    padding: 3vw;
    font-size: 4vw;
    color: #666;
}

/* ----------------------order-infor---------------------- */

.wrapper .order-info {
    width: 100%;
    margin-top: 12vw;
    background-color: #0097ff;
    box-sizing: border-box;
    padding: 2vw;
    color: #fff;

}

.wrapper .order-info h5 {
    font-size: 3vw;
    font-weight: 300;
}

.wrapper .order-info .order-info-address {

    width: 100%;
    font-weight: 700;
    margin: 1vw 0;

    display: flex;
    justify-content: space-between;
    /* margin-top: 1vw; */
    align-items: center;
}

.wrapper .order-info .order-info-address p {
    font-size: 5vw;

}

.wrapper .order-info .order-info-address i {
    font-size: 6vw;
}

.wrapper .order-info p {
    font-size: 3vw;
}

/*----------------------order-detailed---------------------- */
.wrapper .order-detailed {
    width: 100%;
}

.wrapper .order-detailed li {
    width: 100%;
    height: 16svw;
    /* background-color: #fff; */
    color: #666;
    box-sizing: border-box;
    padding: 3vw;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .order-detailed li .order-detailed-left {
    /* width: 70%; */
    display: flex;
    align-items: center;
}

.wrapper .order-detailed li .order-detailed-left img {
    width: 10vw;
    height: 10vw;
}

.wrapper .order-detailed li .order-detailed-left p {
    margin-left: 3vw;
    font-size: 3.5vw;
}

.wrapper .order-detailed li p {
    font-size: 3.5vw;
}

/* ------------------deliveryfee-------------------- */
.wrapper .order-deliveryfee {
    width: 100%;
    height: 16vw;
    /* background-color: #fff; */
    box-sizing: border-box;
    padding: 3vw;

    font-size: 3.5vw;
    color: #666;
    /* margin-top: 1vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----------------------total---------------------- */

.wrapper .total {
    width: 100%;
    height: 14vw;
    background-color: #0097ff;

    position: fixed;
    left: 0;
    /* right: 0; */
    bottom: 0;
    /* z-index: 1000; */
    display: flex;


}

.wrapper .total .total-left {
    /* 将两者拆分 */
    flex: 2;
    /* width: 100%; */
    background-color: #505050;

    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .total .total-right {
    flex: 1;
    background-color: #38ca73;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}