.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper header {
    width: 100%;
    height: 12vw;
    background-color: #0097ff;

    color: #fff;
    font-size: 4.8vw;
    /* 将header固定防止滚动 */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}

/* ----------------------footer-------------------------- */
.wrapper .footer {
    width: 100%;
    height: 14vw;
    border-top: solid 1px #ddd;
    /* border-top是画上方实线 */
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    /* flex弹性盒子 */
    justify-content: space-around;
    align-items: center;
}

.wrapper .footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 2.5vw; */
    color: #999;
    justify-content: center;
}

.wrapper .footer li i {
    font-size: 5vw;
}

.wrapper .footer li p {
    font-size: 2.8vw;
}

/* --------------------------order-info------------------------- */
.wrapper .order-info {
    padding-top: 6vw;
}